{% extends 'base.html' %}

{% block content %}


<div  class="banner" class="relocate">
        <h1 class="justify-content-center">Create Your Account for the Avengers Phonebook</h1>
        
        <!--Signup Form which comes from Flask Route-->
        <form action="" method="post">
            {{ form.hidden_tag()}}
            <div class="form-group">
                <fieldset class="register">
                    {{ form.username.label }}
                    {{ form.username(class = "form-control", placeholder="UserName") }}
                </fieldset>
                <fieldset class="register">
                    {{ form.email.label }}
                    {{ form.email(class="form-control",placeholder="Email") }}
                </fieldset>
                <fieldset class="register">
                    {{ form.password.label }}
                    {{ form.password(class="form-control",placeholder="Password") }}
                </fieldset>
                <fieldset class="register">
                    {{ form.confirm_pass.label }}
                    {{ form.confirm_pass(class="form-control",placeholder="Confirm Password") }}
                </fieldset>
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
</div> 

{% endblock content %}